.header {
  display: flex;
}

.logo-container {
  color: white;
  text-align: left;
  display: block;
  margin-right: 15%;
}

.logo {
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
}


.ant-menu-overflow-item .ant-menu-item .ant-menu-item-selected .ant-menu-item-only-child {
    background-color: #cc256a !important;
}

.ant-menu-overflow-item .ant-menu-item .ant-menu-item-active .ant-menu-item-only-child {
    background-color: #cc256a !important;
}


.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: #cc256a !important;
}

.ant-menu.ant-menu-dark .ant-menu-item-active, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: #cc256a !important;
}
